aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
fastapi==0.61.2
gunicorn==20.0.4
h11==0.11.0
httpcore==0.12.2
httpx==0.16.1
idna==2.10
iniconfig==1.1.1
multidict==5.0.2
packaging==20.5
pluggy==0.13.1
py==1.9.0
pydantic==1.7.2
pyparsing==2.4.7
pytest==6.1.2
pytest-asyncio==0.14.0
requests==2.25.0
rfc3986==1.4.0
sniffio==1.2.0
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
uvicorn==0.12.3
yarl==1.6.3
